.container{
    display: flex;
    background-color: white;
    width: 45%;
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
    width: 50px;
    transition: width 350ms ease-in;
    transform-origin: right;
    
}


.container input {
    outline: none;
    border: none;
    width: 100%;
    font-size: 18px;
    margin-left: 15px;
    display: none;
}



.input_visible{
    display: block !important;
}


.container_animate {
    width: 45%;
}







@media screen and (max-width:500px) {
           .container {
               width: 100%;
               margin: 0 !important;
               border-radius: 0;
           }
}

