.container{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: var(--backgroundColor);
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}


.search_bar {
        margin: 15px auto;
}


.album_section{
    margin: 0 auto;
    margin-top:15px;
    display: flex;
    overflow-x: scroll;
    width: 95%;
    padding-bottom: 5px;
}

.album_section::-webkit-scrollbar{
  
    height: 4px;
}

.album_section::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 15px;
}